<!doctype html>
  <head>
  <title>Happy Birthday</title>
  <!--<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
  <script type="text/javascript">
  </script>
  </head>
  <body>
    <h1 style="text-align:center"> We will be updating this page soon </h1>
  </body>
</html>
